ul {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
  gap-y: 1rem;
}

@media screen and (min-width: 640px) {
  ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 768px) {
  ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1024px) {
  ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1280px) {
  ul {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
